.user-details-div {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 50px;
}
.user-details-head {
  color: #99a799;
}
.card {
  background: #d3e4cd;
  box-shadow: 0 5px 5px 5px #e1e1e1;
  max-width: 350px;
  padding: 15px;
  border-radius: 5px;
  margin: auto;
  text-align: center;
}

.card img {
  width: 50%;
  border: 5px solid #99a799;
  border-radius: 50%;
}

.card table,
.card table tr td {
  width: 290px;
  margin: 0 auto;
  border: 1px solid #99a799;
  text-align: left;
}
